*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    flex-direction: column;
}
header{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;

}

a{
    text-decoration: none;
    color: rgb(15, 15, 15);
    
    padding: 20px;
}
section {
    background-color: rgb(5, 5, 5);
    width: 200px;
    color: white;
    height: 270px;
    margin-top: 40px;
    border-radius: 10px;
    margin-left: 200px;
}
.img img{
    width: 200px;
    border-radius: 20px;
}
.img1 img{
    width: 150px;
    border-radius: 20px;
}
.maindiv{
    margin-top: 60px;
    margin-left: 200px;
    flex-direction: column;
   
}
.maindiv1{
    display: flex;
   flex-wrap: wrap;
   /* flex-direction: column;*/
  
}
.main1{
    display: flex;
}
.main1  h6{
    margin-top: 5px;
    margin-left: 10px;
}
.main{
    margin-top: 10px;
    margin-left: 5px;
}
.main h5{
    margin-top: 10px;
    margin-left: 20px;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.loga1 img{
    width: 90px;
   
   
}
.loga2 img{
    width: 40px;
   
}
h5{
    width: 1000px;
}
.ahm nav{
   text-align: center;
   margin-top: 30px;
}
.ahm1 {
    display: flex;
   justify-content: center;
   margin-top: 30px;
}
.img7 img{
    width: 60px;
}
.ahm1 h2{
    margin-top: 20px;
}
.h3 h5{
    margin-left: 130px;
   
}

@media(max-width:600){
    body{
        background-color: aquamarine;
    }
    .maindiv1{
        width: 500px;
    }

}
